#services{
    width: 100vw;
    height: 100vh;
    background-image: url(./ServicesHeader/courthouse.jpg);
    background-repeat: no-repeat;
    background-size: 710px;
    background-position: 50% -475px;
    background-color: rgb(0, 22, 57, 25%);
    font-family: 'Noto Sans TC', sans-serif;
}

#services-header{
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #E6E7E8;
    background-color: rgb(216, 151, 60, 0.8);
}

#services-header #services-header-background{
    overflow: hidden;
    height: 100vh;
}

#services-header #decription-container{
    position: relative;
    top: 160px;
}

#services-header #decription-container h1{
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.4rem;
    margin-bottom: 0px;
}

#services-header #decription-container p{
    margin-top: 25px;
    letter-spacing: 1px;
}

#services-header .services-list{
    text-align: right;
    position: relative;
    top: 375px;
    color: #d8973c;
    z-index: 1;
}

#services-header .services-list li{
    margin-bottom: 25px;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
}

#services-header .circle-background{
    content: '';
    position: relative;
    border-radius: 50%;
    bottom: -45px;
    right: 40px;
    min-width: 800px;
    min-height: 800px;
    background: linear-gradient(170deg, rgba(216,151,60,0.8) -35%, rgba(0,22,57,0.95) 29%);
}