#about #about-content{
    margin: -44px auto 20px;;
}

#about-content .jess-image-div{
    margin: auto;
    width: fit-content;
}

#about-content .jess-image-div h1{
    text-align: left;
}

#about-content .jess-image-div img{
    width: 100%;
    max-width: 350px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#about-content .jess-image-div h1{
    width: fit-content;
    border-bottom: #d8973c 3px solid;
    padding-right: 10px;
    margin: auto;
    font-weight: 500;
}

#about-content .about-p-div h1{
    width: fit-content;
    text-align: left;
    border-bottom: #d8973c 3px solid;
    padding-right: 10px;
    margin: auto 0;
    display: none;
}

#about-content .about-p-div{
    line-height: 23px;
    font-weight: 500;
    font-weight: bold;
    color: #001639;
    margin-top: -45px;
}

#about-content .about-p-div h1{
    width: fit-content;
    text-align: left;
    border-bottom: #d8973c 3px solid;
    padding-right: 10px;
    margin: auto 0;
    display: none;
}