.about-header .about-intro-div p{
    font-weight: 300;
}

.about-header .contact-info-div .contact-items{
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.about-header .contact-info-div .contact-items p,
.about-header .contact-info-div .contact-items h3{
    margin: 0;
}

.about-header .contact-info-div .contact-items p{
    font-weight: 300;
}

.about-header .contact-info-div .contact-items h3{
    font-weight: 600;
    color: #d8973c;
}