/* #intro::after{
    content: '';
    background: url('../../images/home-slide-1.jpg');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro::before{
    content: '';
    background: #0016398c;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.75;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
} */

.gap{
    height: 30vh;
    width: 100vw;
}

