#intro{
    background-image: url('../../images/home-slide-1.jpg');
    background-position-y: 24%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
}

.intro-background{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #001639ad;
    z-index: 0;
}

.gap{
    height: 30vh;
    width: 100vw;
}

