#intro::before{
    content: '';
    background: url('../../images/home-slide-1.jpg');
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro::after{
    content: '';
    background: #001639;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

