.header-container{
    min-height: 35vh;
}

.header-container .header-bg{
    min-height: 35vh;
    background-image: url(../../images/courthouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    /* filter: blur(2px); */
}

.header{
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: rgba(0, 22, 57, 95%);
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    top: 0;
    height: 35vh;
    width: 100%;
    z-index: 3;
}

.header-text-bg{
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    top: 0;
    height: 35vh;
    width: 100%;
    z-index: 2;
}

.header-text-bg h1{
    text-transform: uppercase;
    font-size: 4rem;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: 15px;
    margin: auto;
    padding-top: 13%;
    opacity: 1;
    color: #f9f9f9;
}

.header .intro-div h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: 5px;
    margin: auto;
    padding-top: 13%;
}