.header-container{
    background-image: url(../../images/courthouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.header{
    display: flex;
    align-items: center;
    min-height: 33vh;
    padding-top: 45px;
    color: #e9e9e9;
    background-color: rgba(0, 22, 57, 70%);
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Noto Sans TC', sans-serif;
}

.header .intro-div h1{
    font-size: 2.5rem;
    width: fit-content;
    letter-spacing: 5px;
    margin: auto;
}