.navbar{
    position: fixed;
    top: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    color: #e9e9e9;
    background-color: transparent;
    z-index: 50;
}

.navbar .navlinks a{
    color: #e9e9e9;
    text-decoration: none;
    padding: 10px;
}

.navbar .navlinks a:hover{
    color: #d8973c;
}

.navbar .navlinks a.active{
    border-bottom: #d8973c 2px solid;
}

.navbar .navlinks a.active:hover{
    color: #e9e9e9;
    cursor: default;
}

.navbar .navlinks a:last-of-type{
    margin-right: 0;
}

.navbar .nav-contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 13px;
}

.navbar .nav-contact span{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.nav-menu{
    width: 100%;
    color: #001639;
}