@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
.app{
  overflow-x: hidden;
  background-color: #f9f9f9;
}

.h1{
  text-transform: capitalize;
  margin: 10px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 12px;
}

.h2{
  margin: 0;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.no-ul{
  list-style: none;
  padding: 0;
}

.no-a{
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  /* Home */
  #intro{
    background-position-x: 75%;
  }

  #jess-img, #counting-numbers {
      box-shadow: none;
  }
}

@media only screen and (min-width: 600px) {
  /* Headrer */
  .header-container {
    background-position-y: bottom;
}

  .header {
    padding: 125px 0;
  }

  .header h1 {
    font-size: 4rem;
    letter-spacing: 5px;
}

  /* Home */
  #intro{
    background-position-y: 0;
  }

  .intro-title{
    text-align: left;
  }

  /* Header Component */

}

