@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif:wght@400;700&display=swap');

.app{
  overflow-x: hidden;
  background-color: #f9f9f9;
}

@media only screen and (max-width: 600px) {
  #intro{
    background-position-x: 75%;
  }

  #jess-img, #counting-numbers {
      box-shadow: none;
  }

  #footer {
    margin-top: -6%;
}
  }